In [4]:
for i in range(6):
        
        for j in range(6):
                print(chr(65+i),end =' ')
        print()

A A A A A A
B B B B B B
C C C C C C
D D D D D D
E E E E E E
F F F F F F

In [5]:
for i in range(6):
        
        for j in range(6):
                print(chr(65+j),end =' ')
        print()

A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F

In [22]:
for i in range(6):
        
        for j in range(6):
                print(chr(65),end =' ')
        print()

A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A

In [23]:

for i in range(6):
        
        for j in range(1,i):
                print(chr(65),end =' ')
        print()

A
A A
A A A
A A A A

In [24]:

for i in range(6):
        
        for j in range(i):
                print(chr(65+j),end =' ')
        print()

A
A B
A B C
A B C D
A B C D E

In [25]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print((j+1),end =' ')
        print()

number of rows:5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [26]:
# inverted triangle for char 
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(chr(65+j),end =' ')
        print()

number of rows:5
A B C D E
A B C D
A B C
A B
A

In [27]:

n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print((i+1),end =' ')
        print()

number of rows:5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [30]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print((n),end =' ')
        print()

number of rows:6
6 6 6 6 6 6
6 6 6 6 6
6 6 6 6
6 6 6
6 6
6

In [29]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(j,end =' ')
        print()

number of rows:6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [31]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(i,end =' ')
        print()

number of rows:6
0 0 0 0 0 0
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [32]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(n-i,end =' ')
        print()

number of rows:7
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [33]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(n-j,end =' ')
        print()

number of rows:7
7 6 5 4 3 2 1
7 6 5 4 3 2
7 6 5 4 3
7 6 5 4
7 6 5
7 6
7

In [34]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(chr(65+j),end =' ')
        print()

number of rows:7
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [35]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(chr(65+i),end =' ')
        print()

number of rows:7
A A A A A A A
B B B B B B
C C C C C
D D D D
E E E
F F
G

In [36]:
n= int(input("number of rows:"))
for i in range(n+1):
        
        for j in range(n-i):
                print(chr(65+(n-i-1)),end =' ')
        print()

number of rows:7
G G G G G G G
F F F F F F
E E E E E
D D D D
C C C
B B
A

In [37]:
n= int(input("number of rows:"))


for i in range(n):
        
        for j in range(n-i):
                print(chr(65+(n-i-1)),end =' ')
        print()
        for k in range(n-j):
                print(" ", end=" ")

number of rows:7
G G G G G G G
  F F F F F F
    E E E E E
      D D D D
        C C C
          B B
            A

In [38]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(chr(65+(n-j-1)),end =' ')
        print()
        for k in range(n-j):
                print(" ", end=" ")

number of rows:7
G F E D C B A
  G F E D C B
    G F E D C
      G F E D
        G F E
          G F
            G

In [39]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(chr(65+(n-1)),end =' ')
        print()
        for k in range(n-j):
                print(" ", end=" ")

number of rows:7
G G G G G G G
  G G G G G G
    G G G G G
      G G G G
        G G G
          G G
            G

In [40]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(" ", end=" ")
        
        for k in range(n-j):
                print(chr(65+(n-1)),end =' ')
        print()

number of rows:7
              G
            G G
          G G G
        G G G G
      G G G G G
    G G G G G G
  G G G G G G G

In [41]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(" ", end=" ")
        
        for k in range(n-j):
                print("*",end =' ')
        print()

number of rows:6
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *

In [42]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(" ", end=" ")
        
        for k in range(1,n-j):
                print(i,end =' ')
        print()

number of rows:7

            1
          2 2
        3 3 3
      4 4 4 4
    5 5 5 5 5
  6 6 6 6 6 6

In [43]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(" ", end=" ")
        
        for k in range(1,n-j):
                print(k,end =' ')
        print()

number of rows:8

              1
            1 2
          1 2 3
        1 2 3 4
      1 2 3 4 5
    1 2 3 4 5 6
  1 2 3 4 5 6 7

In [44]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(" ", end=" ")
        
        for k in range(1,n-j):
                print(chr(65+k-1),end =' ')
        print()

number of rows:9

                A
              A B
            A B C
          A B C D
        A B C D E
      A B C D E F
    A B C D E F G
  A B C D E F G H

In [45]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(chr(65+(i)),end =' ')
        print()
        for k in range(n-j):
                print(" ", end=" ")

number of rows:9
A A A A A A A A A
  B B B B B B B B
    C C C C C C C
      D D D D D D
        E E E E E
          F F F F
            G G G
              H H
                I

In [46]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(j,end =' ')
        print()
        for k in range(n-j):
                print(" ", end=" ")

number of rows:9
0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7
    0 1 2 3 4 5 6
      0 1 2 3 4 5
        0 1 2 3 4
          0 1 2 3
            0 1 2
              0 1
                0

In [47]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(n-j,end =' ')
        print()
        for k in range(n-j):
                print(" ", end=" ")

number of rows:9
9 8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2
    9 8 7 6 5 4 3
      9 8 7 6 5 4
        9 8 7 6 5
          9 8 7 6
            9 8 7
              9 8
                9

In [48]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(n-i-1,end =' ')
        print()
        for k in range(n-j):
                print(" ", end=" ")

number of rows:9
8 8 8 8 8 8 8 8 8
  7 7 7 7 7 7 7 7
    6 6 6 6 6 6 6
      5 5 5 5 5 5
        4 4 4 4 4
          3 3 3 3
            2 2 2
              1 1
                0

In [49]:
n= int(input("number of rows:"))
for i in range(n):
        
        for j in range(n-i):
                print(" ", end=" ")
        print()
        for k in range(1,n-j):
                print(i,end =' ')

number of rows:9


1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8